<% include partials/header %>
<div class="container">
    <h1 style="text-align: center; margin: 30px;">Sign Up</h1>
    <h6 style="text-align: center; margin: 30px;">Join the Arweave community!
        <div style="width: 30%; margin: 25px auto;">

            <div class=form-group>
                <form action="/register" method="POST">
            </div>
            <div class=form-group>
                <input name="username" type="text" placeholder="Username" class="form-control" required>
            </div>
            <div class=form-group>
                <input name="name" type="text" placeholder="Name" class="form-control" required>
            </div>
            <div class=form-group>
                <input name="email" type="text" placeholder="Email" class="form-control" required>
            </div>
            <div class=form-group>
                <input name="password" type="text" placeholder="Password" class="form-control" required>
            </div>
            <div class=form-group>
                <input name="description" type="text" placeholder="Description" class="form-control">
            </div>
            <div class=form-group>
                <input name="pmtmode" type="text" placeholder="Payment Mode" class="form-control">
            </div>
            <div class=form-group>
                <input name="notes" type="text" placeholder="Notes" class="form-control">
            </div>
            <div class=form-group>
                <input name="discordun" type="text" placeholder="Discord Username" class="form-control">
            </div>
            <div class=form-group>
                <input name="balance" type="text" placeholder="Balance" class="form-control">
            </div>
            <div class=form-group>
                <input name="referrer" type="text" placeholder="Referrer Name" class="form-control">
            </div>
            <div class=form-group>
                <input name="refadd" type="text" placeholder="Referral Address" class="form-control">
            </div>
            <div class=form-group>
                <select name="referral" type="text" class="form-control">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                    </select>
                </div>
            <div class=form-group>
                    <!-- This is just for display purposes, it will not be sent to the server. The onclick just clicks the file input -->
                    <input id="formWalletAddress" style="font-size: 0.7em" onclick="clickOpenFile()" readonly type="text" placeholder="Arweave Wallet" class="button form-control" required>
            </div>  
            <div class="form-group">
                    <input type="file">
            </div>

            <!-- 
                These are hidden and will be filled in once the user selects a wallet file via the code below 
                They will be posted to the server.
            -->
            <input type="hidden" id="formPublicKey" name="public_key">
            <input type="hidden" id="formSignature" name="signature">

            <div class=form-group>
                <button class="button">Register</button>
            </div>
            
            <script>

                function clickOpenFile() {
                    document.querySelector('input[type="file"]').click();
                }

                const input = document.querySelector('input[type="file"]')
                input.addEventListener('change', function (e) {
                    console.log(input.files)
                    const reader = new FileReader()
                    reader.onload = async function () {
                        keyfile = JSON.parse(reader.result)
                        // Get signature / public_key / address
                        const login = await generateArWalletSignature(keyfile);
                        // Set the hidden form values, and set the display box 
                        // to show the wallet address.
                        document.querySelector('#formPublicKey').value = login.public_key;
                        document.querySelector('#formSignature').value = login.signature;
                        document.querySelector('#formWalletAddress').value = login.address;
                    }
                    reader.readAsText(input.files[0])
                }, false)

                async function generateArWalletSignature(wallet) {

                    var arweave = Arweave.init({ host: 'arweave.net', port: 443, https: true });

                    var arwallet = await arweave.wallets.jwkToAddress(wallet);

                    // Convert the wallet address string into bytes so we can sign it. 

                    var arwalletAsBytes = arweave.utils.stringToBuffer(arwallet);

                    // Signature is always returned as bytes, we encode it a base64url string 
                    // afterwards so we can transfer to server as JSON easily. 
                    var signatureAsBytes = await arweave.crypto.sign(wallet, arwalletAsBytes);

                    var signature = arweave.utils.bufferTob64Url(signatureAsBytes);

                    return { public_key: wallet.n, signature, address: arwallet };
                }

               
            </script>
            
        </div>
        <% include partials/footer %>