<% include ../partials/header %>
<div class="container">
    <div class="form-group-row">
        <div style="width: 30%; margin: 25px auto;">
           Status:
        <%= obj%>
            
        </div>
    </div>
</div>

<% include ../partials/footer %>